/* ********************************************************
* Description : CSS Styles For Rootpages
* This file contains the following sections:
	- Homepage
	- Languages
	- FAQ
	- About
	- Contact
	- Terms of Use
	- Privacy policy
	- Contribute
	- Support
******************************************************** */
/* --------------------------- Homepage --------------------------- */
/* --------------------------- Languages --------------------------- */
/* --------------------------- FAQ --------------------------- */
/* --------------------------- About --------------------------- */
/* --------------------------- Contact --------------------------- */
/* --------------------------- Terms of Use --------------------------- */
/* --------------------------- Privacy policy --------------------------- */
/* --------------------------- Contribute --------------------------- */
/* --------------------------- Support --------------------------- */